USE [master]
GO
/****** Object:  Database [InfoKioskAnkiety]    Script Date: 1/16/2024 8:00:35 PM ******/
CREATE DATABASE [InfoKioskAnkiety]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InfoKioskAnkiety', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InfoKioskAnkiety.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InfoKioskAnkiety_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InfoKioskAnkiety_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InfoKioskAnkiety].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InfoKioskAnkiety]
GO
/****** Object:  Table [dbo].[Ankiety]    Script Date: 1/16/2024 8:00:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ankiety](
	[IdAnkiety] [int] NOT NULL,
	[NazwaAnkiety] [varchar](100) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Ankiety] PRIMARY KEY CLUSTERED 
(
	[IdAnkiety] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odpowiedzi]    Script Date: 1/16/2024 8:00:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odpowiedzi](
	[IdOdpowiedzi] [int] NOT NULL,
	[IdPytania] [int] NOT NULL,
	[TrescOdpowiedzi] [varchar](200) NULL,
	[CreationTime] [date] NULL,
 CONSTRAINT [PK_Odpowiedzi] PRIMARY KEY CLUSTERED 
(
	[IdOdpowiedzi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pytania]    Script Date: 1/16/2024 8:00:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pytania](
	[IdPytania] [int] NOT NULL,
	[IdAnkiety] [int] NOT NULL,
	[TrescPytania] [varchar](200) NULL,
	[TypPytania] [nchar](10) NULL,
 CONSTRAINT [PK_Pytania] PRIMARY KEY CLUSTERED 
(
	[IdPytania] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Odpowiedzi]  WITH CHECK ADD  CONSTRAINT [FK_Odpowiedzi_Pytania] FOREIGN KEY([IdPytania])
REFERENCES [dbo].[Pytania] ([IdPytania])
GO
ALTER TABLE [dbo].[Odpowiedzi] CHECK CONSTRAINT [FK_Odpowiedzi_Pytania]
GO
ALTER TABLE [dbo].[Pytania]  WITH CHECK ADD  CONSTRAINT [FK_Pytania_Ankiety] FOREIGN KEY([IdAnkiety])
REFERENCES [dbo].[Ankiety] ([IdAnkiety])
GO
ALTER TABLE [dbo].[Pytania] CHECK CONSTRAINT [FK_Pytania_Ankiety]
GO
USE [master]
GO
